.text-white {
  color: $color-white;
}

.text-black {
  color: $color-black;
}

.text-blue-gray {
  color: #8492af !important;
}

.text-light-blue {
  color: $color-light-blue;
}

.text-blue {
  color: $color-blue;
}

.text-pink {
  color: $color-pink;
}

.text-pink-light {
  color: $color-pink-light;
}

.text-light-gray {
  color: #b9bcd1;
}

.text-dark-blue {
  color: $color-dark-blue;
}

.text-green {
  color: $color-green;
}

.bg-dark-blue {
  background-color: $color-dark-blue;
}

.bg-light-blue {
  background-color: $color-light-blue;
}

.bg-white {
  background-color: $color-white;
}

.bg-white-gray {
  background-color: $color-wite-gray;
}

.bg-pink {
  background-color: $color-pink3;
}

.shadow-blue {
  box-shadow: 0 0 80px $color-blue2;
}

.shadow-white-blue {
  box-shadow: 0 0 60px $color-white-blue;
}