@for $i from 10 to 73 {
  .text-size-#{$i} {
    font-size: #{$i}px;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.times-new-roman {
  font-family: TimesNewRoman;
  line-height: 1.8;
}

.montserrat {
  font-family: Montserrat;
}

.line-height-18 {
  line-height: 1.8;
}