#header {
  width: 100%;
  z-index: 88888;
  position: absolute;
}

.logo {
  max-width: 233px;
}

.login-btn {
  font-size: 18px;
  border: 1px solid;
  padding: 20px 42px;

  &:hover {
    color: white;
    transition: all .3s;
  }
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  padding-top: 21px;
  margin-bottom: 0;
}

.navbar-menu-small {
  list-style-type: none;
  margin-bottom: 36px;
}

.navbar-menu li {
  display: inline-block;
  font-size: 18px;
  margin-right: 50px;
}

.navbar-menu-small li {
  display: block;
  font-size: 18px;
}

.navbar-menu li a {
  display: inline-block;
  color: $color-white;
}

.navbar-menu-small li a {
  display: inline-block;
  color: $color-white;
  line-height: 1.8;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
  margin: 67px 150px 0 0;
}

.navbar-brand {
  margin: 67px 0 0 160px;
}

.main-title {
  margin-top: 279px;
  font-size: 60px;
  font-weight: 100;
}

.h2-title {
  margin-top: 30px;
  font-size: 36px;
}

.btn-start {
  margin: 82px auto;
  display: block;
  padding: 17px 55px;
  margin-bottom: 0px !important;
  font-size: 18px;
  font-weight: 700;
  min-width: 96px;

  &:hover {
    background-color: #426ddc;
    transition: all .3s;
  }
}

.img-merkury {
  margin: 88px auto;
  margin-bottom: 0px !important;
}

.img-impose {
  bottom: -128px;
}

.up-img-128 {
  margin-bottom: -128px !important;
}

.btn-see-more {
  padding: 18px 86px 18px 86px;
  border: 1px solid #dadee7;
  display: block;

  &:hover {
    background-color: #e6e7ec;
    transition: all .3s;
  }
}

.hamburger {
  display: none;
  font-size: 24px;
  margin: 67px 150px 0 0;
}

.hamburger-line {
  background-color: $color-white;
  display: block;
  height: 2px;
  position: relative;
  width: 36px;
}

.hamburger-line:before, .hamburger-line:after {
  background-color: $color-white;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hamburger-line:before {
  top: 7px;
}

.hamburger-line:after {
  top: -7px;
}

.gray-line {
  border-top: 1px solid #dadee7;
  position: absolute;
  top: 35px;
  left: 15%;
  z-index: 1;
  width: 70%;
}

#checkboxToggle {
  display: none;
}

.menu-small {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: $color-dark-blue;
  text-align: center;
  right: 0;
  left: 0;
  margin: 451px 0 0 0;
  color: $color-white;
}

.icon-columns {
  z-index: 3;
}