@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

@for $i from 10 to 370 {
  .top-#{$i} {
    top: #{$i}px;
  }

  .right-#{$i} {
    right: #{$i}px;
  }

  .left-#{$i} {
    left: #{$i}px;
  }

  .up-space-#{$i} {
    margin-top: #{$i}px !important;
  }

  .down-space-#{$i} {
    margin-bottom: #{$i}px !important;
  }

  .right-space-#{$i} {
    margin-right: #{$i}px !important;
  }

  .left-space-#{$i} {
    margin-left: #{$i}px !important;
  }

  .min-height-#{$i} {
    min-height: #{$i}px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.relative-block {
  position: relative;
}

.relative-to-1200 {
  position: relative;
}

.inherit-block {
  position: inherit;
}

.absolute-block {
  position: absolute;
}

.pointer {
  cursor: pointer;
}

.grab {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.btn {
  border-radius: 100px;
  max-width: fit-content;
}

.btn-modal {
  display: block;
  border-radius: 10px;
  max-width: fit-content;
  padding: 35px 58px;

  &:hover {
    background-color: $color-pink2;
  }
}

.img-center {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.columns {
  display: flex;
  flex-flow: row nowrap;
}

.content-size {
  width: fit-content;
}

.element-center {
  margin: 0 auto;
}

.max-size {
  max-width: 360px;
}

.min-height {
  min-height: 90px;
}

.horizont-space-64 {
  margin: 0 64px;
}

.horizont-space-64 {
  margin: 0 64px;
}

.rights {
  margin-left: 160px;
}

.footer-nav {
  margin: auto;
  margin-right: 150px !important;
}

.clear-indents {
  margin: auto !important;
  padding: 0 !important;
}

.container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline-block, .footer-nav ul li {
  display: inline-block;
}

.footer-nav ul li a {
  margin-left: 50px;
  color: #8492af;
}

#modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 111111;
  overflow: auto;
  transition: all 0.5s ease;
}

.modal-container {
  margin: 10% auto;
  top: 50%;
  left: 50%;
  height: 638px;
  min-height: 300px;
  max-width: 1185px;
  width: 80%;
  background-color: $color-white;
}

.div-circle {
  width: 20vw;
  height: 20vw;
  background: $color-white;
  border-radius: 100%;
  position: absolute;
  left: 41vw;
  top: 0%;
}

.div-circle img {
  margin: 22% 0 0 22%;
  width: 10vw;
}

.modal-content {
  position: absolute;
  width: 60%;
  max-width: 887px;
  padding: 10%;
}

.modal-content h3, .modal-content p {
  padding-top: 28px;
}

.visible-modal {
  display: block !important;
}

.col-7 {
  width: 60%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 40%;
}

ul.checked-icon li {
  background: url('../img/checked6.png') no-repeat 0 4px;
  display: block;
  height: 32px;
  padding: 8px 0 0 46px;
}

.bg-grupa2 {
  background: url('../../storage/images/Grupa-2.png') no-repeat 0 0;
  height: 100vw;
  position: inherit;
  background-size: cover;
  margin-left: 10%;
}

.pull-element {
  background-color: $color-white;
  min-height: 100px;
  max-width: 386px;
}

.drop-space {
  background-color: transparent;
  height: 62px;
  border: 1px dashed #8492af;
  padding-top: 38px;
  max-width: 386px;
}

.circle {
  border-radius: 100%;
}

.block-size-42 {
  height: 42px;
  width: 42px;
}

.block-size-28 {
  height: 28px;
  width: 28px;
}

.ava-name {
  height: 42px;
  width: 42px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.block {
  display: block;
}

.max-width {
  max-width: 50%;
}

.price-shadow {
  box-shadow: 0 0 60px rgb(0 0 0 / 15%);
}

.price-plan {
  transition: all 0.4s linear;
  padding: 10px 0 10px 0;
  margin: 60px;

  &:hover {
    transform: scale(1.2, 1.2);
  }
}
.price-ul li {
  background: url('../img/checked6-kopia-3.png') no-repeat 0 4px;
  display: block;
  height: 24px;
  padding: 8px 0 0 34px;
  margin: 8px 50px;
}

.plan-flaws li {
  background: url('../img/Prostokąt-18-kopia-2.png') no-repeat 0 4px;
  display: block;
  height: 24px;
  padding: 8px 0 0 34px;
  margin: 8px 50px;
}

.width-content {
  max-width: fit-content;
}

#powerfullPsd {
  padding-bottom: 40px;
}