.bg-dark-blue {
  background-color: $color-dark-blue;
}

.bg-line-decor {
  background-image: url("../img/Graph.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.bg-grid {
  background: url("../img/Grid.png") no-repeat center center;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
}

.main-screen {
  flex: 1 0 100%;
}