@media (max-width: 1200px) {
  .navbar-wrap {
    display: none;
  }

  #checkboxToggle:checked ~ .menu-small {
    display: block;
    max-height: 100%;
    padding: 52px 0 136px 0;
    transaction: all 1s;
  }

  .hamburger {
    display: block;
    padding: 20px 0;
  }
}

@media (max-width: 991px) {
  .col-6 {
    width: 100%;
  }

  .gray-line {
    display: none;
  }

  .icon-columns {
    margin-bottom: 46px;
  }
}

@media (max-width: 1200px) {
  .columns {
    display: block;
  }
}

@media (min-width: 767px) {
  .flex-important {
    display: flex !important;
  }
}

@media (max-width: 766px) {
  #zoneDrop {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    padding: 20px 0;
  }

  .hamburger {
    font-size: 24px;
    margin: 39px 29px 0 0;
  }

  .navbar-brand {
    margin: 40px 0 0 27px;
  }

  #checkboxToggle:checked ~ .menu-small {
    display: block;
    max-height: 100%;
    padding: 0 0 136px 0;
  }

  .img-merkury {
    width: 80%;
    margin-left: 10%;
  }

  .left-space-264 {
    margin: 0 20px 0 20px !important;
  }

  .col-7 {
    width: auto;
  }

  .col-6 {
    width: auto;
  }

  .down-space-200 {
    margin-bottom: 87px !important;
  }

  .left-space-129 {
    margin-left: 10px !important;
  }

  .horizont-space-64 {
    margin: 60px 35px;
  }

  .max-width {
    max-width: 90%;
  }

  .down-space-254 {
    margin-bottom: 107px !important;
  }

  #allYouNeed {
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .left-space-148 {
    margin-left: 40px !important;
  }

  .btn-modal {
    font-size: 14pt !important;
  }

  .modal-content h3 {
    font-size: 25pt !important;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  #dragDrop .left-space-148 {
    margin-left: 40px !important;
  }

  #dragDrop .col-7 {
    width: 75%;
  }
}

@media (max-width: 520px) {
  .slide-content p, .slide-content h3 {
    width: 90vw;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .left-space-129 {
    margin-left: 10px !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .bg-grupa2 {
    height: 100vw;
    position: inherit;
    background-size: cover;
    right: 0;
    margin-left: 10%;
    width: 90%;
    margin-top: -10%;
  }

  .allYouNeed {
    width: 80%;
  }

  #allYouNeed p.left-space-264,
  #allYouNeed h2.left-space-264,
  #allYouNeed ul.left-space-264 {
    margin-left: 15% !important;
  }
}

@media (min-width: 1201px) {
  .bg-grupa2 {
    height: auto;
    position: inherit;
    background-size: auto;
    margin-left: auto;;
  }

  .relative-to-1200 {
    position: unset;
  }
}

@media (max-width: 768px) {
  .bg-grupa2 {
    margin-top: 15%;
  }

  .allYouNeed p, .allYouNeed h2 {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #allYouNeed ul.down-space-274 {
    margin-bottom: 76px !important;
  }

  #allYouNeed p.left-space-264,
  #allYouNeed h2.left-space-264,
  #allYouNeed ul.left-space-264 {
    margin-left: 15% !important;
  }
}