.psd-template-image {
  max-width: 57%;
  height: auto;
}

.elips-1 {
  background: url("../img/Elipsa-1.png") no-repeat center center;
  height: 46px;
  width: 46px;
}

.psd-elips-position-1 {
  top: 15%;
  left: 46%;
}

.psd-elips-position-2 {
  top: 58%;
  right: 46%;
}

.psd-line-position-1 {
  top: 19%;
  left: 5%;
}

.psd-line-position-2 {
  top: 62%;
  right: 5%;
}

.elips-2 {
  background: url("../img/Elipsa-1-kopia.png") no-repeat center center;
  height: 30px;
  width: 30px;
  margin: 8px;
}

.psd-line {
  width: 44%;
  border-top: 2px solid $color-light-blue;
}

.clean-modern {
  top: 10%;
  left: 5%;
}

.easy-to-customize {
  top: 52%;
  right: 5%;
}

.clean-modern-text {
  top: 25%;
  left: 5%;
  max-width: 27%;
  line-height: 1.5;
}

.easy-to-customize-text {
  top: 67%;
  right: 5%;
  max-width: 27%;
  line-height: 1.5;
}

@media (max-width: 1500px) {
  .psd-elips-position-2 {
    top: 57%;
  }

  .psd-line-position-1 {
    top: 20%;
  }
}

@media (max-width: 1150px) {
  .psd-elips-position-2 {
    top: 56%;
  }

  .psd-line-position-1 {
    top: 21%;
  }
}

@media (max-width: 911px) {
  .psd-line {
    border-top: none;
    border-right: 2px solid $color-light-blue;
    width: 0px;
    height: 33%;
  }

  .mobile-up-space-200 {
    margin-top: 200px !important;
    margin-bottom: 200px !important;
  }

  .psd-line-position-1 {
    left: 48.5%;
    top: -50%;
    height: 72% !important;
  }

  .psd-line-position-2 {
    top: 62%;
    right: 48.5%;
    height: 72% !important;
  }

  .easy-to-customize {
    bottom: -33%;
    right: 24%;
    text-align: left !important;
    top: auto;
  }

  .easy-to-customize-text {
    bottom: -35%;
    right: 52%;
    max-width: 33%;
    line-height: 1.5;
    top: auto;
  }

  .clean-modern {
    top: -49%;
    left: 18%;
    text-align: right;
  }

  .clean-modern-text {
    top: -50%;
    left: 51%;
    max-width: 33%;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .easy-to-customize-text {
    bottom: -51%;
    right: 44%;
    max-width: 65%;
    line-height: 1.5;
    top: auto;
  }

  .clean-modern-text {
    top: -63%;
    left: 48%;
    max-width: 65%;
    line-height: 1.5;
  }

  .easy-to-customize {
    bottom: -50%;
    right: -2%;
    text-align: left !important;
    width: 38%;
    top: auto;
  }

  .clean-modern {
    top: -62%;
    left: 3%;
    text-align: right;
    width: 38%;
  }

  .psd-elips-position-1 {
    top: 12%;
    left: 40%;
  }

  .psd-elips-position-2 {
    top: 49%;
    right: 35%;
  }

  .psd-template-image {
    max-width: 95%;
    height: auto;
  }

  .psd-line-position-2 {
    top: 64%;
    right: 39.5%;
    height: 85% !important;
  }

  .psd-line-position-1 {
    left: 44.5%;
    top: -61%;
    height: 78% !important;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .mobile-up-space-200 {
    margin-top: 310px !important;
    margin-bottom: 200px !important;
  }

  .psd-line-position-2 {
    top: 56%;
    right: 37.7%;
    height: 85% !important;
  }

  .psd-line-position-1 {
    left: 42.7%;
    top: -61%;
    height: 78% !important;
  }

  .clean-modern {
    left: 1%;
  }

  .clean-modern-text {
    left: 46%;
  }

  .easy-to-customize {
    bottom: -42%;
    right: -4%;
  }

  .easy-to-customize-text {
    bottom: -43%;
    right: 42%;
  }
}