.slider {
  width: 512px;
  overflow: hidden;
}

.slide {
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slide-content {
  min-width: 512px;
}

.command-buttons {
  width: 90px;
  justify-content: space-between;
  display: flex;
}

.prev, .next {
  height: 37px;
  width: 37px;
}

.prev {
  background: url('../img/Arrow-left.png') no-repeat 0 0;
}

.next {
  background: url('../img/Arrow-right.png') no-repeat 0 0;
}