$color-white: #ffffff;
$color-black: #000000;
$color-dark-blue: #0e1a35;
$color-blue-gray: #8492af;
$color-light-gray: #b9bcd1;
$color-wite-gray: #f6f7fa;
$color-light-blue: #5584ff;
$color-blue: #5886ff;
$color-blue2: rgb(39 71 144 / 46%);
$color-white-blue: rgb(141 150 185 / 46%);
$color-pink: #d52c40;
$color-pink2: #d82f49;
$color-pink3: #eb304d;
$color-pink-light: #f83c7b;
$color-green: #05c01f;